* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
    font-family: "stranger";
    src: url(fontes/Benguiat\ Bold.ttf);
}

body {
  background-color: #0b0101;
  color: rgba(255, 255, 255, 0.9);
  font-family: "Poppins", sans-serif;
}

button{
    font-family: "Poppins", sans-serif;
    cursor: pointer;
}
button{
        background-color: transparent;
        color: white;
        font-size: 16px;
        display: flex;
        gap: 12px;
        border: none;
        outline: none;
        padding: 16px 0px;
        border-bottom: 1px solid white;
        cursor: pointer;
    }


header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 1vw 4vw ;
  gap: 39px;
  position: absolute;
  z-index: 9;
  font-family: "stranger", sans-serif;
  .ano{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 22px;
  }
  .topo{
    display: flex;
    justify-content: space-between;
    align-items: center;

    h3{
        font-size: 24px;
    }
  }
}

.hero {
  background-image: url("imagens/foto\ inicio_1x.webp");
  background-position: 50% 0%;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 7vw 7vw 7vw;

  .esquerda, .direita{
    width: 30%;
  }

  .esquerda {
    display: flex;
    flex-direction: column;
    align-items: center;
    h3{
        font-size: 27px;
        font-weight: 500;
        letter-spacing: 10px;
        font-family: "poppins", sans-serif;
        
    }
    h1{
        font-size: 3.7vw;
        font-family: "stranger", sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
  }

  .direita{
    display: flex;
    flex-direction: column;
    align-items: end;
    p{
        font-size: 2vw;
        margin-bottom: 32px;
        text-align: end;
    }
  }
}
